.board {
display: grid;
grid-template-columns: repeat(7, 70px);
gap: 8px;
background: #0b5ed7;
padding: 10px;
border-radius: 10px;
}


.column {
display: flex;
flex-direction: column;
gap: 8px;
cursor: pointer;
}



.cell {
width: 70px;
height: 70px;
border-radius: 50%;
background: white;
}


.cell.human {
background: red;
}


.cell.ai {
background: yellow;
}